@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster'), local('Lobster-Regular'), url(../asset/font/lobster.woff2) format('woff2');
}


body {
    margin: 0 0 1px 0; /* the extra 1px allows the iOS inner/outer check to work */
    background: #000;
    overflow: hidden;
    touch-action: none;
    font-family: Lobster, sans-serif;
}

.fontLoader {
    position: absolute;
    left: -1000px;
}